
zxing-scanner::ng-deep video {
  border-radius: 1rem;
  width: 100% !important;
  height: auto !important;
  min-height: 300px;
  border: 4px solid rgba(16, 185, 129, 0.6);
  box-shadow: 0 20px 40px rgba(16, 185, 129, 0.3);
}

zxing-scanner::ng-deep canvas {
  border-radius: 1rem;
  border: 4px solid rgba(16, 185, 129, 0.6);
  box-shadow: 0 20px 40px rgba(16, 185, 129, 0.3);
}

@keyframes animate-blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: animate-blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}